apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: myapp-container
        image: nginx:latest
        command: ["/bin/bash", "-c", "while true; do echo build a kubernetes cluster locally eith minikube; sleep 5; done"]
        ports:
        - containerPort: 80


